header{
    display: flex;
    flex-direction: row;
    background-color: #94a6b2;
    height: 25%;
    color: black;
}
main{
    display: flex;
    flex-direction: row;
}
body{
    width: 70%;
    margin: auto;
}
.photo_container{
    width: 200px;
    padding: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.photo_cv{
    background-image: url(photo_mini.JPG);
    height: 120px;
    width: 120px;
    background-size: cover;
    border-radius: 100%;
    border-color: white;
}
img{
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
}
.nom_description{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
/* //main */
.left_flex{
    width: 200px;
    background-color: #353e4d;
    color: white;
}
.rigth_flex{
    color: black;
}